<div class="container">
  <section class="section">
    <h6 class="sidebar-title">Mana Cost</h6>
    <div class="row">
      <!--create click function that takes mana cost and filters all cards request based on 
      to the api-->
      <span class="col-sm-2">0</span>
      <span class="col-sm-2">1</span>
      <span class="col-sm-2">2</span>
      <span class="col-sm-2">3</span>
      <span class="col-sm-2">4</span>
      <span class="col-sm-2">5</span>
      <span class="col-sm-2">6</span>
      <span class="col-sm-2">7</span>
      <span class="col-sm-2">8</span>
      <span class="col-sm-2">9</span>
      <span class="col-sm-2">10+</span>
    </div>
  </section>

  <section class="section">
    <h6 class="sidebar-title">Rarity</h6>
    <div class="row">
      <!--the click function should also work here by taking card rarity-->
      <span class="col-md-3">Basic</span>

      <span class="col-md-3">Common</span>

      <span class="col-md-3">Rare</span>

      <span class="col-md-3">Epic</span>

      <span class="col-md-3">Legendary</span>
    </div>
  </section>

  <section class="section">
    <h6 class="sidebar-title">Format</h6>
    <span> Restrict to Standard</span>
  </section>

  <section class="section">
    <h6 class="sidebar-title">Card Set</h6>
    <!--bootstrap accordion with ngFor loop that displays all card set options-->
  </section>
  
  <!--These sections are dropdowns

  <section class="section">
    <h6 class="sidebar-title">Type</h6>
  </section>

  <section class="section">
    <h6 class="sidebar-title">Race</h6>
  </section>

  <section class="section">
    <h6 class="sidebar-title">Mechanics</h6>
  </section>

  <section class="section">
    <h6 class="sidebar-title">Attack</h6>
  </section>

  <section class="section">
    <h6 class="sidebar-title">Health</h6>
  </section>-->

  <!--Create Sort By section (alphabetical, low cost, high cost)-->
</div>
